@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    -light-background-color: #EFEFEF;
    -dark-background-color: #494949;
    -fill-color: #343434;
    -fill-color-alt: #3F3F3F;
    -dark-color: #282828;
    -grey-fill-color: #8E95A6;
    -hover-color: #686868;
    -medium-color: #545454;
    -border-color: #1E1E1E;
    -accent-color: #3CE0A0;
    -warning-color: #3CE0A0;
    -text-color: #FFFFFF;
}

.root{
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: 'Raleway', sans-serif;
    -fx-background-color: -dark-background-color;
}

#light-background {
    -fx-background-color: -light-background-color;
}

#dark-background {
    -fx-background-color: -dark-background-color;
}

/*
    Scroll Pane
*/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}

.scroll-pane:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/*
    Button
*/

#oc-button {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 3 8 3 8;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

#oc-button:hover {
    -fx-background-color: -hover-color;
}

#oc-button:focused {
    -fx-border-color: -accent-color;
}

/*
    Slider
*/

.slider .track {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 3 8 3 8;
}

.slider .axis {
    -fx-tick-label-fill: -text-color;
    -fx-tick-length: 4px;
    -fx-minor-tick-length: 2px;
    -fx-tick-label-font-weight: bold;
}

.slider .thumb {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 6 6 6 6;
}

.slider .thumb:hover {
    -fx-background-color: -hover-color;
}

.slider .thumb:pressed {
    -fx-border-color: -accent-color;
    -fx-background-color: -hover-color;
}

/*
    Side Panel Button
*/

#side-panel-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-font-family: 'Raleway', sans-serif;
}

#side-panel-button:hover {
    -fx-background-color: -hover-color;
}

#side-panel-button:selected {
    -fx-background-color: -accent-color;
}

/*
    Text Field
*/

.text-field:hover {
    -fx-background-color: -hover-color;
}

.text-field {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 3 8 3 8;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: 'Lato', sans-serif;
}

.text-field:focused {
    -fx-border-color: -accent-color;
}

/*
	Progress Indicator
*/

.progress-indicator:indeterminate > .spinner {
    -fx-background-color: transparent;
}

.progress-indicator:indeterminate .segment {
    -fx-background-color: -accent-color;
}

/*
	Progress Bar
*/


.progress-bar {
    -fx-indeterminate-bar-length: 180;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: false;
    -fx-indeterminate-bar-animation-time: 2;
}
.progress-bar > .bar {
    -fx-background-color: -accent-color;
    -fx-background-insets: 1 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 9 0 9 0;
}
.progress-bar:indeterminate > .bar {
    -fx-background-color: -accent-color;
}
.progress-bar > .track {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
}

/*
	Text Area
*/

.text-area {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: 'Lato', sans-serif;
}

.text-area .content {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-padding: 3 8 3 8;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: 'Lato', sans-serif;
}

.text-area:focused .content {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/*
    Check Box
*/

.check-box {
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.check-box .box {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 3 3 3 3;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.check-box .box:hover {
    -fx-background-color: -hover-color;
}

.check-box:focused .box {
    -fx-border-color: -accent-color;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 0;

    -fx-padding: 7px;
    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
}

.check-box:selected .mark {
    -fx-background-color: -text-color;
}

/*
    Combo Box
*/

.combo-box-base {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 0 4 0 4;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: 'Lato', sans-serif;

}

.combo-box-base:hover {
    -fx-background-color: -hover-color;
}

.combo-box-base .list-cell {
    -fx-text-fill: -text-color;
}

.combo-box-base .arrow {
    -fx-background-color: transparent, -text-color;
}

.combo-box:focused {
    -fx-border-color: -accent-color;
}

.combo-box-popup > .list-view {
    -fx-background: -fill-color;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */

    -fx-background: -fill-color;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -hover-color;
    -fx-background-color: -hover-color;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -hover-color;
    -fx-background-color: -fill-color, -accent-color, -hover-color;
    -fx-background-insets: 0;
}

.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: text-color;
}

/*
    Menu
*/

.menu-bar{
    -fx-background-color: -dark-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

.menu-bar > .container > .menu-button {
     -fx-border-width: 1;
    -fx-border-color: transparent;
}

.menu-bar > .container > .menu-button:hover {
    -fx-background: -hover-color;
}

.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-border-color: -accent-color;
    -fx-background: -hover-color;
}

.menu .label{
    -fx-text-fill: -text-color;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em;  /* 4 5 4 5 */
    -fx-text-fill:  -text-color;
}
.menu-item > .left-container {
    -fx-padding: 0.458em 0.791em 0.458em 0.458em;
}
.menu-item > .graphic-container {
    -fx-padding: 0em 0.333em 0em 0em;
}
.menu-item >.label {
    -fx-padding: 0em 0.5em 0em 0em;
     -fx-text-fill:  -text-color;
}
.menu-item:focused {
     -fx-background: -hover-color;
     -fx-background-color: -hover-color;
}
.menu-item:focused > .label {
     -fx-text-fill:  -text-color;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: -fill-color;
}

/*
    Scroll Bar
*/

.scroll-bar {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 0;
}

.scroll-bar > .thumb {
    -fx-background-color: -medium-color;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
}

.scroll-bar:hover > .thumb {
    -fx-background-color: -hover-color;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover,
.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-background-color: -hover-color;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -text-color;
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -text-color;
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -text-color;
}

.list-view {
    -fx-background-color: -dark-background-color;
}
.list-view .list-cell:even {
    -fx-background-color: -fill-color;
    -fx-text-fill: -text-color;
}

.list-view .list-cell:odd {
    -fx-background-color: -fill-color-alt;
    -fx-text-fill: -text-color;
}

.list-view, .list-view:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}

.hyperlink:focused {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0, 0, 0;
}

.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-underline: true;
}

.hyperlink:visited {
    -fx-underline: false;
}

.label {
    -fx-text-fill: -text-color;
}

.spinner {
	-fx-text-fill: -text-color;
	-fx-background-color: -fill-color;
}
.spinner *.increment-arrow-button, .spinner *.decrement-arrow-button {
	-fx-background-color: -fill-color;
}

.spinner *.increment-arrow-button, .spinner *.decrement-arrow-button {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-padding: 3 8 3 8;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.spinner *.increment-arrow-button:hover, .spinner *.decrement-arrow-button:hover {
    -fx-background-color: -hover-color;
}

.spinner *.increment-arrow-button:focused, .spinner *.decrement-arrow-button:focused {
    -fx-border-color: -accent-color;
}

.status-bar {
	-fx-text-fill: -text-color;
    -fx-background-color: -dark-background-color;
}
.status-bar > * {
  	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px 5px 5px 5px;
}


.table-view {
	-fx-text-fill: -text-color;
	-fx-background-color: -dark-background-color;
}

.table-view .table-cell{
    -fx-text-fill: -text-color;
}


.table-row-cell:even {
    -fx-background-color: -fill-color;
    -fx-text-fill: -text-color;
}

.table-row-cell:odd {
    -fx-background-color: -fill-color-alt;
    -fx-text-fill: -text-color;
}

.table-view .column-header-background, .table-view .column-header-background .filler {
    -fx-background-color: -fill-color
}
.table-view .nested-column-header .table-column {
    -fx-background-color: -fill-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: -border-color;
    -fx-border-width: 1;
    -fx-text-fill: -text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -text-color;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

